<div class="service-alert">

  Hi there,

The <strong><%= @train.name %></strong> train's status is <strong><%= @train.status %></strong>.<br><br>

<% if @train.text? %>
<strong>Details: </strong><%= @train.text %>
<% end %><br><br>

-------<br>
Disclaimer: The above information is pulled from the MTA.info website. Incorrect information listed there will be reflected here. To unsubscribe or to change your preferences, visit your dashboard page at <%= link_to "dashboard", root_path %>

</div>