<div class="service-alert">
Current status for the <strong><%= @train.name %></strong> line:<br><br>

<strong><%= @train.status %></strong><br><br>

<% if @train.text? %>
<strong>Details: </strong><%= @train.text %><br><br>
<% end %>

-------<br>
Disclaimer: The above information is pulled from the MTA.info website. To unsubscribe or to change your preferences, visit your <a href="http://trackmta.herokuapp.com">dashboard</a>

</div>