<div class="service-alert">
Hi there,<br><br>

Current status for the <strong><%= @train.name %></strong> line:<br><br>

<strong><%= @train.status %></strong><br><br>

<% if @train.text? %>
<strong>Details: </strong><%= @train.text %><br><br>
<% end %>

***NEW FEATURE*** Users can now opt to receive alerts only on selected days of the week. To add new alerts, or to modify an existing alert, please visit your <a href="http://trackmta.herokuapp.com">dashboard</a>. As always, feel free to respond to this email with comments, suggestions, or any bug reports!<br><br>
-------<br>
Disclaimer: The above information is pulled from the MTA.info website. To unsubscribe or to change your preferences, visit your <a href="http://trackmta.herokuapp.com">dashboard</a>

</div>