<% case @alert.train.name %>
<% when "123" %>
<div class="btn btn-default" disabled="disabled"><img src=" http://s3.amazonaws.com/TrackAppImage/1.png" /><img src=" http://s3.amazonaws.com/TrackAppImage/2.png" /><img src=" http://s3.amazonaws.com/TrackAppImage/3.png" /></div>

<% when "456" %>
<div class="btn btn-default" disabled="disabled"><img src=" http://s3.amazonaws.com/TrackAppImage/4.png" /><img src=" http://s3.amazonaws.com/TrackAppImage/5.png" /><img src=" http://s3.amazonaws.com/TrackAppImage/6.png" /></div>

<% when "ACE" %>
<div class="btn btn-default" disabled="disabled"><img src=" http://s3.amazonaws.com/TrackAppImage/a.png" /><img src=" http://s3.amazonaws.com/TrackAppImage/c.png" /><img src=" http://s3.amazonaws.com/TrackAppImage/e.png" /></div>

<% when "7" %>
<div class="btn btn-default" disabled="disabled"><img src=" http://s3.amazonaws.com/TrackAppImage/7.png" /></div>

<% when "BDFM" %>
<div class="btn btn-default" disabled="disabled"><img src=" http://s3.amazonaws.com/TrackAppImage/b.png" /><img src=" http://s3.amazonaws.com/TrackAppImage/d.png" /><img src=" http://s3.amazonaws.com/TrackAppImage/f.png" /><img src=" http://s3.amazonaws.com/TrackAppImage/m.png" /></div>

<% when "G" %>
<div class="btn btn-default" disabled="disabled"><img src=" http://s3.amazonaws.com/TrackAppImage/g.png" /></div>

<% when "JZ" %>
<div class="btn btn-default" disabled="disabled"><img src=" http://s3.amazonaws.com/TrackAppImage/j.png" /><img src=" http://s3.amazonaws.com/TrackAppImage/z.png" /></div>

<% when "L" %>
<div class="btn btn-default" disabled="disabled"><img src=" http://s3.amazonaws.com/TrackAppImage/l.png" /></div>

<% when "NQR" %>
<div class="btn btn-default" disabled="disabled"><img src=" http://s3.amazonaws.com/TrackAppImage/n.png" /><img src=" http://s3.amazonaws.com/TrackAppImage/q.png" /><img src=" http://s3.amazonaws.com/TrackAppImage/r.png" /></div>

<% when "S" %>
<div class="btn btn-default" disabled="disabled"><img src=" http://s3.amazonaws.com/TrackAppImage/s.png" /></div>

<% when "SIR" %>
<div class="btn btn-default" disabled="disabled"><img src=" http://s3.amazonaws.com/TrackAppImage/sir.png" /></div>
<% end %>


<!-- case grade
when "A"
  puts 'Well done!'
when "B"
  puts 'Try harder!'
when "C"
  puts 'You need help!!!'
else
  puts "You just making it up!"
end -->