  <div class="modal fade" id="edit-user-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none">
    <div class="modal-dialog narrowmodal">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="quattro">EDIT USER</h4>
        </div>
        <div class="modal-body">
          <%= render '/devise/registrations/editform' %>
          <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "btn btn-danger" %><br>
          <div class="footnote-text lato">
          * Leave blank if you don't want to change it<br>
          ^ We need your current password to confirm your changes)
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->