<nav>
  <ul class="navbar quattro">
    <li>
      <a href="#">
        <% if user_signed_in? %>
        <%= current_user.email %>
        <% else %>
        <a data-toggle="modal" href="#login-modal">LOG IN</a>
        <% end %>
      </a>
      <% if user_signed_in? %>
      <ul>
        <li><a href="#">EDIT ALERTS</a></li>
        <li><a href="#">EDIT ACCOUNT</a></li>
        <li><%= link_to "SIGN OUT", destroy_user_session_path, method: :delete %></li>
      </ul>
      <% end %>
    </li>
    <li><a data-toggle="modal" href="#About-modal">ABOUT</a></li>
    <li><a href="">CONTACT</a></li>
    <li><a href="">DASHBOARD</a></li>
  </ul>
</nav>