<nav>
  <ul class="navbar quattro">
    <% if user_signed_in? %>
    <li><%= link_to "SIGN OUT", destroy_user_session_path, method: :delete %></li>
    <% end %>

    <li><a href="mailto:track.automailer@gmail.com?Subject=[TRACK]%20Feedback">CONTACT</a></li>
    <li><a data-toggle="modal" href="#About-modal">ABOUT</a></li>
    <li><a data-toggle="modal" href="#status-modal">STATUS</a></li>
    <% if user_signed_in? %>
    <li><a href="/dashboard"><%= current_user.email %></a></li>
    <% else %>
    <li><a data-toggle="modal" href="#login-modal">LOG IN</a></li>
    <% end %>
  </ul>
</nav>