<nav>
  <ul class="navbar">
    <li>
      <a href="">[ACCOUNT NAME]</a>
      <ul>
        <li><a href="#">Example 1</a></li>
        <li><a href="#">Example 2</a></li>
      </ul>
    </li>
<!-- <li><% if user_signed_in? %>
    <%= link_to "SIGN OUT", destroy_user_session_path, method: :delete %>
    <% else %>
    <%= link_to "LOG IN", new_user_session_path %></li>
    <% end %> -->
    <li><a href="">HOW IT WORKS</a></li>
    <li><a href="">ABOUT</a></li>
    <li><a href="">CONTACT</a></li>
  </ul>
</nav>

<div class="title">TRACK</div>


<div class="container">
  <div class="welcome-text">Daily MTA service status updates, personalized</div>

</div>