body {
  background: url(subway_updated.jpg) no-repeat center center fixed;
  background-size: cover;
  /*background: gray;*/
}

.quattro {
  font-family: 'Quattrocento', serif;
}

.lato {
  font-family: 'Lato', sans-serif;
}

.title {
  color: white;
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 40px;
  font-weight: 700;
}

.welcome-text {
  text-align: center;
  margin-top: 250px;
  color: white;
  font-size: 35px;
}

.navbar {
  list-style-type:none;
  margin-top: 0;
  padding-left: 4px;
  padding-right: 4px;
  color: white;
  position: fixed;
  right: 80px;
  top: 0;
  background: white;
  line-height: 1.3;
  font-size: 14px
}

li {
  display: inline;
  float: right;
  padding: 5px;
}

a {
  text-decoration: none;
  color: #5c5050;
}

/*DROPDOWN STYLING*/

/*Hides the elements when use does not hover over*/
nav ul ul {
  display: none;
}

nav ul li:hover > ul {
  display: block;
}

nav ul {
  list-style: none;
  position: relative;
  display: inline-table;
}
nav ul:after {
  content: ""; clear: both; display: block;
}

nav ul li:hover a {
  color: #5c5050;
}

nav ul li a {
  display: block;
  color: #5c5050;
  text-decoration: none;
}

nav ul ul {
  background: white;
  width: inherit;
  padding: 0;
  position: absolute;
  top: 100%;
}
nav ul ul li {
  float: none;
  position: relative;
}

nav ul ul li a:hover {
  color: #5c5050;
}

nav ul ul ul {
  position: absolute; left: 100%; top:0;
}

/*.service-alert {
  font-family: Helvetica;
}*/

/*MODAL FORMATTING*/

.welcome-alert-form {
  text-align: center;
  color: white;
}

/*DASHBOARD FORMATTING*/

.dashboard-text {
  text-align: center;
  margin-top: 150px;
  color: white;
  font-size: 35px;
}

td {
  padding: 5px;
    font-family: 'Lato', sans-serif;
  color: white;
}

th {
  padding: 5px;
    font-family: 'Lato', sans-serif;
  color: white;
}

thead {
  border-bottom: 2px solid black;
}