body {
  background: url(subway_updated.jpg) no-repeat center center fixed;
  background-size: cover;
  /*background: gray;*/
}

.quattro {
  font-family: 'Quattrocento', serif;
}

.lato {
  font-family: 'Lato', sans-serif;
}

.title {
  color: white;
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 40px;
  font-weight: 700;
}

.welcome-text {
  text-align: center;
  margin-top: 250px;
  color: white;
  font-size: 35px;
}

.navbar {
  list-style-type:none;
  margin-top: 0;
  padding-left: 4px;
  padding-right: 4px;
  color: white;
  position: fixed;
  right: 80px;
  top: 0;
  background: white;
  line-height: 1.3;
  font-size: 14px
}

.narrow {
  width: 90px;
}

li {
  display: inline;
  float: right;
  padding: 5px;
}

a {
  text-decoration: none;
  color: #5c5050;
}


/*MODAL FORMATTING*/

.welcome-alert-form {
  text-align: center;
  color: white;
  font-size: 20px;
}

/*DASHBOARD FORMATTING*/

.dashboard-text {
  text-align: center;
  margin-top: 150px;
  color: white;
  font-size: 35px;
}

.dashboard-sub-text {
  text-align: center;
  color: white;
  font-size: 20px;
}

.dashboard-left {
  position: absolute;
  left: 12%;
}

.dashboard-right {
  text-align: center;
  position: absolute;
  right: 22%;
}

.border-container {
  height: 500px;
  width: 3px;
  position: absolute;
  left: 50%;
  border-right: 2px solid white;
}

td {
  padding: 5px;
    font-family: 'Lato', sans-serif;
  color: white;
}

th {
  padding: 5px;
    font-family: 'Lato', sans-serif;
  color: white;
}
