body {
  background: url(subway_updated.jpg) no-repeat center center fixed;
  background-size: cover;
}

.title {
  font-family: 'Quattrocento', serif;
  color: white;
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 40px;
  font-weight: 700;
}

.welcome-text {
  text-align: center;
  margin-top: 250px;
  font-family: 'Quattrocento', serif;
  color: white;
  font-size: 35px;
}

