body {
  background: url(http://s3.amazonaws.com/TrackAppImage/subway_updated.jpg) no-repeat center center fixed;
  background-size: cover;
}

.quattro {
  font-family: 'Quattrocento', serif;
}

.lato {
  font-family: 'Lato', sans-serif;
}

.title {
  color: white;
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 40px;
  font-weight: 700;
  text-shadow: 1px 1px #000000;
}

.welcome-text {
  text-align: center;
  margin-top: 250px;
  color: white;
  font-size: 35px;
  text-shadow: 1px 1px #000000;
}

.navbar {
  list-style-type:none;
  margin-top: 0;
  padding-left: 4px;
  padding-right: 4px;
  color: white;
  position: fixed;
  right: 80px;
  top: 0;
  background: white;
  line-height: 1.3;
  font-size: 14px
}

.narrow {
  width: 90px;
}

li {
  display: inline;
  float: right;
  padding: 5px;
}

a {
  text-decoration: none;
  color: #5c5050;
}

/*MODAL FORMATTING*/

.welcome-alert-form {
  text-align: center;
  color: white;
  font-size: 20px;
}

body .narrowmodal {
    /* new custom width */
    width: 310px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: -140;
}

.footnote-text {
  font-size: 12px;
}

/*DASHBOARD FORMATTING*/

.dashboard-text {
  text-align: center;
  margin-top: 70px;
  color: white;
  font-size: 35px;
}

/*Wrapper for left-hand side*/
.dashboard-left-container {
  position: relative;
  left: 10%;
}

/*Formatting for left hand side*/
.dashboard-left {
  text-align: center;
  position: absolute;
  color: white;
  font-size: 20px;
  width: 150px;
}

/*Wrapper for right-hand side*/
.dashboard-right-container {
  position: absolute;
  right: 68%;
}

/*Formatting for right-hand side*/
.dashboard-right {
  /*text-align: center;*/
  position: absolute;
  color: white;
  font-size: 20px;
  width: 700px;
}

/*Top elements*/
.dashboard-top {
  top: 20%;
  position: absolute;
}

/*Bottom elements*/
.dashboard-bottom {
  top: 400px;
  position: absolute;
}

.border-container {
  height: 500px;
  width: 3px;
  position: absolute;
  left: 25%;
  border-right: 2px solid white;
}

th {
  padding-right: 20px;
  padding-left: 20px;
    font-family: 'Lato', sans-serif;
  color: white;
}

td {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
    font-family: 'Lato', sans-serif;
  color: white;
}

.status_td {
  color: black;
}
